/VerleihClient/nbproject/private/
/VerleihClient/build/
/VerleihClient/dist/
/VerleihServer/dist/
/VerleihServer/logs/
/VerleihCommonLib/nbproject/private/
/VerleihCommonLib/build/
/VerleihServer/nbproject/
/VerleihServer/build/