/VerleihClient/nbproject/private/
/VerleihClient/build/
/VerleihClient/dist/
/VerleihServer/dist/
/VerleihServer/logs/
/DVDsCommonLib/nbproject/private/
/DVDsCommonLib/build/
/DVDsCommonLib/dist/
/VerleihCommonLib/nbproject/private/
/VerleihCommonLib/build/