/*
 * Stylesheet file.
 */


.page-base {
    -fx-background-color: #1C1C1C;

}

.imgbtn {
    -fx-background-color: #2E2E2E;
}

.header-center {
    -fx-background-color: #2E2E2E;
    -fx-border-color: #1C1C1C;
    -fx-border-top: 5px;
    -fx-border-bottom: 5px;
}
.header-right {
    -fx-background-color: #2E2E2E;
    -fx-border-color: #1C1C1C;
    -fx-border-top: 5px;
    -fx-border-bottom: 5px;
    //-fx-border-right: 5px;
}
.header-left {
    -fx-background-color: #2E2E2E;
    -fx-border-color: #1C1C1C;
    -fx-border-top: 5px;
    -fx-border-bottom: 5px;
    //-fx-border-left: 5px;
}

.header{
    -fx-background-color: #2E2E2E;
    -fx-border-color: #1C1C1C;
    -fx-border-top: 5px;
    -fx-border-bottom: 5px;
    //-fx-border-left: 5px;
}

.menu-base {
    -fx-background-color: #2E2E2E;
    -fx-border-color: #1C1C1C;
    -fx-border-width: 5px;
}

.content-image {
    -fx-border-color: #B43104;

}
.content-radiobtn {
    -fx-text-fill: #B43104;
}
.content-base {
    -fx-background-color: #2E2E2E;
    -fx-border-color: #1C1C1C;
    -fx-border-width: 5px;
}

.content-back {
    //-fx-background-color: #1C1C1C;
    -fx-background-color: #2E2E2E;
    -fx-background-image: url(../Elements/back_stamp.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center;
}

.content-katalog-item-back{
    -fx-background-color: #2E2E2E;
    //-fx-border-color: #1C1C1C;
    //-fx-border-width: 5px;
}

.content-katalog-title {
    -fx-font-size: 24pt;
    -fx-text-fill: #B43104;
    -fx-font-family: 'Nyala';
    -fx-font-weight: bold;

}

.content-katalog-separator {
    -fx-background-color: #1C1C1C;
    -fx-border-color: #1C1C1C;
}

.content-katalog-subtitle{
    -fx-font-size: 18pt;
    -fx-text-fill: #a14a2d;
    -fx-font-family: 'Nyala';
}

.content-katalog-description{
    -fx-font-size: 11pt;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Calibri';
}

.content-katalog-additional{
    -fx-font-size: 11pt;
    -fx-text-fill: #B43104;
    -fx-font-family: 'Calibri';
}

.content-label{
    -fx-font-family: 'Calibri';
    -fx-text-fill: #B43104;
}

.kunde-bewertung-button {

    -fx-border: 5px solid #B43104;
    -fx-border-radius: 5px;
}
.menu-space {
    -fx-background-color: #1C1C1C;
}
.menu-label {
    -fx-background-color: #B43104;
    -fx-text-fill: #1C1C1C;
    -fx-padding: 5px;
}

.menu-btn {
    -fx-background-color: #2E2E2E;
    -fx-text-fill: #B43104;
    -fx-font-size: 14px;
}

.menu-btn:hover{
    -fx-background-color: #3E3E3E;
}

texfield:focused{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.menu-accordion {
    /*-fx-background-color: #2E2E2E;*/
    -fx-border-color: #1C1C1C;
    -fx-border-width: 5px;
    -font-size: 14px;
}


.search-box {
    -fx-background-color: #B43104;
    -fx-text-fill: #2E2E2E;

}

.scroll-base {
    -fx-background-color:transparent;
}
.katalog-background {
    -fx-background-color: #2E2E2E;
}
.katalog-item {
    -fx-background-color: #1C1C1C;
    -fx-border-color: #B43104;
    -fx-border-width: 2px;
}
.katalog-textfield {
    -fx-background-color: #B43104;
    -fx-text-fill: #2E2E2E;
}
.katalog-titel {
    -fx-background-color: #B43104;
    -fx-text-fill: #2E2E2E;
}
.katalog-image {
    -fx-border-color: #B43104;
    -fx-border-width: 1px;
}

.standard-btn {
    -fx-background-color: #3E3E3E;
    -fx-border-color: #B43104;
    -fx-border-width: 2px;
    -fx-text-fill: #B43104;
    -fx-font-size: 14px;
}

.standard-text {
    -fx-text-fill: #B43104;
    -fx-font-size: 14px;    
}

.titel-text {
    -fx-background-color: #2E2E2E;
    -fx-text-fill: #B43104;
    -fx-font-size: 14px;
}

.titled-pane .title {
    -fx-background-color: #B43104;
    -fx-text-fill: #1C1C1C;
    -fx-border-radius: 3px;
    -fx-font-size: 14px;

}

.titled-pane > .title > .arrow-button .arrow 
{
    -fx-background-color: #1C1C1C;
    -fx-mark-highlight-color: #111111;
    -fx-mark-color: #111111;

}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
    -fx-rotate: -90;
}

.titled-pane > *.content 
{
    -fx-background-color: #1C1C1C;
    -fx-border-color: #B43104;
    -fx-font-size: 14px;
}

.titled-pane:focused > .title > .arrow-button .arrow 
{
    -fx-background-color: #2E2E2E;
}

.login-logo {
    -fx-background-color: #1C1C1C;
    -fx-border-color: #1C1C1C;
}