/*
 * Stylesheet file.
 */


.page-base {
    -fx-background-color: #1C1C1C;
    
}

.imgbtn {
    -fx-background-color: #2E2E2E;
    }

.header {
    -fx-background-color: #2E2E2E;
    -fx-border-color: #1C1C1C;
    -fx-border-width: 5px;
}

.menu-base {
    -fx-background-color: #2E2E2E;
    -fx-border-color: #1C1C1C;
    -fx-border-width: 5px;
}

.content-base {
    -fx-background-color: #1C1C1C;
    -fx-border-color: #1C1C1C;
    /*-fx-border-width: 5px;*/
}

.content-back {
    -fx-background-color: #1C1C1C;
}

.menu-space {
    -fx-background-color: #1C1C1C;
}
.menu-label {
    -fx-background-color: #B43104;
    -fx-text-fill: #1C1C1C;
    -fx-padding: 5px;
}

.menu-btn {
    -fx-background-color: #2E2E2E;
    -fx-text-fill: #B43104;
	-fx-font-size: 14px;
 }
 
 .menu-accordion {
	/*-fx-background-color: #2E2E2E;*/
	-fx-border-color: #1C1C1C;
	-fx-border-width: 5px;
	-font-size: 14px;
	 }

 
.search-box {
    -fx-background-color: #B43104;
	-fx-alignment: RIGHT;
    -fx-text-fill: #2E2E2E;
    -fx-text-alignment: CENTER_LEFT;
    
}

.scroll-base {
    -fx-background-color:transparent;
}

 .titel-text {
     -fx-background-color: #2E2E2E;
     -fx-text-fill: #B43104;
     -fx-font-size: 14px;
     
}

 .titled-pane .title {
	-fx-background-color: #B43104;
	-fx-text-fill: #1C1C1C;
	-fx-border-radius: 3px;
	-fx-font-size: 14px;
	
 }
 
.titled-pane > .title > .arrow-button .arrow 
{
-fx-background-color: #1C1C1C;
-fx-mark-highlight-color: #111111;
-fx-mark-color: #111111;

}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
-fx-rotate: -90;
}

.titled-pane > *.content 
{
-fx-background-color: #1C1C1C;
-fx-border-color: #B43104;
-fx-font-size: 14px;
 }

.titled-pane:focused > .title > .arrow-button .arrow 
{
-fx-background-color: #2E2E2E;
}